@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Jacquard+12&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Newsreader", sans-serif;
  --font-jacquard-12: "Jacquard 12", sans-serif;
  --font-cascadia-code: "Cascadia Code", SFMono-Regular;
  --color-floral-white: #fbfbf2;
  --color-platinum: #e5e6e4;
  --color-timberwolf: #cfd2cd;
  --color-silver: #a6a2a2;
  --color-taupe-gray: #847577;
}
@layer base {
  h1 {
    font-family: var(--font-jacquard-12);
    font-size: var(--text-6xl);
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    font-size: var(--text-3xl);
    font-weight: bold;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: var(--text-xl);
    font-weight: bold;
  }
  p {
    font-size: 20px;
    line-height: 2rem;
  }
  .md {
    padding: 30px;
    line-height: 1.8;
  }
  ul {
    padding-left: 20px;
    list-style-type: circle;
  }
}
